body {
  background-color: black;
  text-align: center;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  padding:5%;
}

#home, #bio, #photos, #contact, #links{
  display: inline;
  padding:2%;
  border: 5px groove purple;
}

.Introduction, h1, .likes, .Contact, .likes-list{
  color: red;
font-family: 'Dancing Script', cursive;
}

#gradpic{
  max-width: 500px;
  margin: auto;
  padding: 10%;
}

.nintey{
  transform: rotate(90deg);
}

.twoseventy{
  transform: rotate(270deg);
}

.photo-container{ 
  border: 5px groove blue;
} 

body .linkin{ 
  margin:100px;
}

.grid-item1,.grid-item2,.grid-item3,.grid-item4, .photo-container img{
  display:inline-block;
  text-align: center;
  max-width: 200px;
  max-height: 200px;
  margin: 20px;
}

.photo-container img{
  border: 5px solid white;
}