body {
  background-color: rgba(192, 184, 184, 0.849);
  text-align: center;
}

.navbar {
  list-style-type: none;
  margin: 5%;
  padding: 0;
}

h1 {
  padding:2%;
}

h2 {
  padding:2%;
  text-align: left;
}

#home, #bio, #photos, #contact, #links, #projects{
  display: inline;
  padding:2%;
  border: 5px groove purple;
  font-size: 30px;
}

h1{
  color: red;
  font-family: 'Dancing Script', cursive;
}

h2{
  color: red;
  font-family: 'Dancing Script', cursive;
}

.Introduction, .Spare-time, .contact, .Spare-time-list{
  color: red;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}

#gradpic{
  max-width: 700px;
  margin: auto;
  padding: 10%;
}

.nintey{
  transform: rotate(90deg);
}

.twoseventy{
  transform: rotate(270deg);
}

.photo-container{ 
  border: 5px groove blue;
} 

body .linkin{ 
  margin:100px;
}

.grid-item1,.grid-item2,.grid-item3,.grid-item4, .photo-container img{
  display:inline-block;
  text-align: center;
  max-width: 200px;
  max-height: 200px;
  margin: 20px;
}

.projectpics img, .grid-item5, .grid-item6, .grid-item7, .grid-item8{
  display: grid;
  text-align: center;
  max-width: 400px;
  max-height: 400px;
  margin: 30px;
  padding:10%;
  color: red;
}

.photo-container img{
  border: 5px solid white;
}

.grid-item5, .grid-item6, .grid-item7, .grid-item8{
  border: yellow;
}

@-webkit-keyframes fadeIn{
  from {opacity: 0;}
}

.fade{
  animation: fadeIn 1s infinite alternate;
}